* {
    box-sizing: border-box;
    margin: 0;
}

/*the header and footer follow almost the same style as the home page of the site
    the images are located on the page with absolute position
    since there is not much text on the page, there is not a whole lot of font code compared to the other pages
*/

#header {
    background-color: goldenrod;
    color: dimgrey;
    font: bold 30px "Times New Roman", times, serif;
    text-align: center;
    width: 100%;
    height: 70px;
    padding-bottom: 5px;
    border-bottom:3px solid black;
}

.personal-info {
    background-color: teal;
    color: white;
    width: 100%;
    height: 300px;
    position:absolute;
    top:70px;
    border-bottom:3px solid black;
}

h1#personal-text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#personal-text{
    position: absolute;
    top: 15%;
    left: 20%;
}

.img-me{
    position: absolute;
    top: 15%;
    left:5%;
}

.img-code {
    position: absolute;
    top: 15%;
    right: 5%;
}

.video-games {
    background-color: darkslateblue;
    color: springgreen;
    width: 100%;
    height: 600px;
    font: 35px "Times New Roman", times, serif;
    text-decoration:underline;
    text-align:center;
    font-style:italic;
    position: absolute;
    top: 370px;
    border-bottom: 3px solid black;
    padding: 10px;
}

h2.vg-text{
    font-style:italic;
}

.img-gow {
    position: absolute;
    top: 15%;
    left:5%;
}

.img-nier {
    position: absolute;
    top: 15%;
    left: 27%;
}

.img-hk {
    position: absolute;
    top: 15%;
    right: 27%
}

.img-er {
    position: absolute;
    top: 15%;
    right: 5%;
}
.movies {
    background-color: orangered;
    color: mediumturquoise;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 770px;
    border-top: 3px solid black;
    font: 35px "Times New Roman", times, serif;
    text-decoration: underline;
    text-align: center;
    padding-top: 10px;
}

.img-iw {
    position: absolute;
    top: 20%;
    left: 20%;
}

.img-para {
    position: absolute;
    top: 20%;
    left: 40%;
}

.img-eeaao {
    position: absolute;
    top: 20%;
    right:20%;
}

#footer {
    text-align: center;
    color: gold;
    background-color: darkgreen;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    border-top: 2px solid black;
}